@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply font-text text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading font-semibold;
}

.container {
    @apply max-w-8xl mx-auto;
}

.menu-category-active {
    @apply after:absolute after:bg-primary after:-bottom-3 after:left-1/3 after:block after:border-b after:border-[#2d2f31] after:rotate-45 after:h-4 after:w-4
}